@import url(https://fonts.googleapis.com/css?family=Glegoo:400,600,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,400italic);

$ff-heading:     'Roboto', Helvetica, Arial, sans-serif;
$ff-text:        Georgia, Helvetica, Arial, sans-serif;
$ff-variant:     'Glegoo', Helvetica, Arial, sans-serif;
