@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-5y37rn');
	src:url('fonts/icomoon.eot?#iefix-5y37rn') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-5y37rn') format('truetype'),
		url('fonts/icomoon.woff?-5y37rn') format('woff'),
		url('fonts/icomoon.svg?-5y37rn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before { content: "\e600"; }
.icon-angle-double-left:before { content: "\e601"; }
.icon-caret-left:before { content: "\e602"; }
.icon-angle-right:before { content: "\e603"; }
.icon-angle-double-right:before { content: "\e604"; }
.icon-caret-right:before { content: "\e605"; }
.icon-line-chart:before { content: "\e606"; }
.icon-area-chart:before { content: "\e607"; }
.icon-at:before { content: "\e608"; }
.icon-suitcase:before { content: "\e609"; }
.icon-bar-chart:before { content: "\e60a"; }
.icon-pie-chart:before { content: "\e60b"; }
.icon-newspaper-o:before { content: "\e60c"; }
.icon-file-code-o:before { content: "\e60d"; }
.icon-file-movie-o:before { content: "\e60e"; }
.icon-file-audio-o:before { content: "\e60f"; }
.icon-file-archive-o:before { content: "\e610"; }
.icon-file-image-o:before { content: "\e611"; }
.icon-file-powerpoint-o:before { content: "\e612"; }
.icon-file-excel-o:before { content: "\e613"; }
.icon-file-word-o:before { content: "\e614"; }
.icon-file-pdf-o:before { content: "\e615"; }
.icon-heart-o:before { content: "\e616"; }
.icon-thumbs-o-down:before { content: "\e617"; }
.icon-thumbs-o-up:before { content: "\e618"; }
.icon-bar-chart2:before { content: "\e619"; }
.icon-star-o:before { content: "\e61a"; }
.icon-camera:before { content: "\e61b"; }
.icon-image:before { content: "\e61c"; }
.icon-file-pdf-o2:before { content: "\e61d"; }
.icon-description:before { content: "\e61e"; }
.icon-arrow-left-outline:before { content: "\e61f"; }
.icon-chevron-left-outline:before { content: "\e620"; }
.icon-arrow-left-thick:before { content: "\e621"; }
.icon-arrow-left:before { content: "\e622"; }
.icon-chevron-left:before { content: "\e623"; }
.icon-arrow-right-outline:before { content: "\e624"; }
.icon-chevron-right-outline:before { content: "\e625"; }
.icon-arrow-right-thick:before { content: "\e626"; }
.icon-arrow-right:before { content: "\e627"; }
.icon-chevron-right:before { content: "\e628"; }
.icon-th-menu-outline:before { content: "\e629"; }
.icon-th-menu:before { content: "\e62a"; }
.icon-arrow-back-outline:before { content: "\e62b"; }
.icon-arrow-down-outline:before { content: "\e62c"; }
.icon-arrow-forward-outline:before { content: "\e62d"; }
.icon-arrow-up-outline:before { content: "\e62e"; }
.icon-arrow-left-outline2:before { content: "\e62f"; }
.icon-arrow-right-outline2:before { content: "\e630"; }
.icon-arrow-down-thick:before { content: "\e631"; }
.icon-arrow-up-thick:before { content: "\e632"; }
.icon-arrow-back:before { content: "\e633"; }
.icon-arrow-forward:before { content: "\e634"; }
.icon-arrow-left-thick2:before { content: "\e635"; }
.icon-arrow-right-thick2:before { content: "\e636"; }
.icon-arrow-right2:before { content: "\e637"; }
.icon-arrow-left2:before { content: "\e638"; }
.icon-arrow-down:before { content: "\e639"; }
.icon-arrow-up:before { content: "\e63a"; }
.icon-address:before { content: "\e63b"; }
.icon-bookmark:before { content: "\e63c"; }
.icon-stats:before { content: "\e63d"; }
.icon-briefcase:before { content: "\e63e"; }
.icon-chart:before { content: "\e63f"; }
.icon-addressbook:before { content: "\e640"; }
.icon-settings:before { content: "\e641"; }
.icon-list:before { content: "\e642"; }
.icon-menu:before { content: "\e643"; }
.icon-pinterest:before { content: "\e644"; }
.icon-pinterest2:before { content: "\e645"; }
.icon-linkedin:before { content: "\e646"; }
.icon-linkedin2:before { content: "\e647"; }
.icon-skype:before { content: "\e648"; }
.icon-soundcloud:before { content: "\e649"; }
.icon-soundcloud2:before { content: "\e64a"; }
.icon-flickr:before { content: "\e64b"; }
.icon-flickr2:before { content: "\e64c"; }
.icon-flickr3:before { content: "\e64d"; }
.icon-flickr4:before { content: "\e64e"; }
.icon-vimeo:before { content: "\e64f"; }
.icon-vimeo2:before { content: "\e650"; }
.icon-vimeo3:before { content: "\e651"; }
.icon-twitch:before { content: "\e652"; }
.icon-youtube:before { content: "\e653"; }
.icon-youtube2:before { content: "\e654"; }
.icon-youtube3:before { content: "\e655"; }
.icon-youtube4:before { content: "\e656"; }
.icon-feed:before { content: "\e657"; }
.icon-feed2:before { content: "\e658"; }
.icon-feed3:before { content: "\e659"; }
.icon-twitter:before { content: "\e65a"; }
.icon-twitter2:before { content: "\e65b"; }
.icon-twitter3:before { content: "\e65c"; }
.icon-instagram:before { content: "\e65d"; }
.icon-ello:before { content: "\e65e"; }
.icon-facebook:before { content: "\e65f"; }
.icon-facebook2:before { content: "\e660"; }
.icon-facebook3:before { content: "\e661"; }
.icon-google-plus:before { content: "\e662"; }
.icon-google-plus2:before { content: "\e663"; }
.icon-google-plus3:before { content: "\e664"; }
.icon-mail:before { content: "\e665"; }
.icon-mail2:before { content: "\e666"; }
.icon-mail3:before { content: "\e667"; }
.icon-mail4:before { content: "\e668"; }
.icon-share:before { content: "\e669"; }
.icon-folder-download:before { content: "\e66a"; }
.icon-arrow-down2:before { content: "\e66b"; }
.icon-arrow-down3:before { content: "\e66c"; }
.icon-download:before { content: "\e66d"; }
.icon-download2:before { content: "\e66e"; }
.icon-download3:before { content: "\e66f"; }
.icon-box-add:before { content: "\e670"; }
.icon-cloud-download:before { content: "\e671"; }
.icon-menu2:before { content: "\e672"; }
.icon-menu3:before { content: "\e673"; }
.icon-menu4:before { content: "\e674"; }
.icon-menu5:before { content: "\e675"; }
.icon-list2:before { content: "\e676"; }
.icon-list3:before { content: "\e677"; }
.icon-list-numbered:before { content: "\e678"; }
.icon-star:before { content: "\e679"; }
.icon-user:before { content: "\e67a"; }
.icon-location:before { content: "\e67b"; }
.icon-display:before { content: "\e67c"; }
.icon-phone:before { content: "\e67d"; }
.icon-search:before { content: "\e67e"; }
.icon-mail5:before { content: "\e67f"; }
.icon-share2:before { content: "\e680"; }
.icon-twitter-old:before { content: "\e681"; }
.icon-facebook4:before { content: "\e682"; }
.icon-bookmark2:before { content: "\e683"; }
.icon-bookmark3:before { content: "\e684"; }
.icon-star2:before { content: "\e685"; }
.icon-heart:before { content: "\e686"; }
.icon-user2:before { content: "\e687"; }
.icon-user3:before { content: "\e688"; }
.icon-user4:before { content: "\e689"; }
.icon-board:before { content: "\e68a"; }
.icon-arrow-down4:before { content: "\e68b"; }
.icon-suitcase2:before { content: "\e68c"; }
.icon-camera2:before { content: "\e68d"; }
.icon-camera3:before { content: "\e68e"; }
.icon-camera4:before { content: "\e68f"; }
.icon-pictures:before { content: "\e690"; }
.icon-camera5:before { content: "\e691"; }
.icon-pin:before { content: "\e692"; }
.icon-location2:before { content: "\e693"; }
.icon-mobile:before { content: "\e694"; }
.icon-phone2:before { content: "\e695"; }
.icon-phone3:before { content: "\e696"; }
.icon-phone4:before { content: "\e697"; }
.icon-addressbook2:before { content: "\e698"; }
.icon-direction:before { content: "\e699"; }
.icon-envelope:before { content: "\e69a"; }
.icon-search2:before { content: "\e69b"; }
