.c-section {
    margin-bottom: 20px;

    border-bottom: 4px solid $c-primary;

    &:last-child { border-bottom: none; }
}

@media all and (max-width: $media-query-desktop - 1) {
    .c-section {
        margin-top: -50px;
        padding-top: 50px;
    }
}
