.qdia-textarea {
    width: 100%;
    height: 80px;
}

.qdia-f_field {
    overflow: hidden;
    width: 100%;
}

.qdia-f__label {
    font-weight: 700;
    margin-top: 16px;
    display: block;
}

.qdia-f__input {
    display: block;
    width: 100%;
}

.qdia-f__textarea {
    height: 200px;
}

.qdia-f__button {
    float: right;
    border-radius: 5px;
    padding: 5px;
    margin-top: 24px;
    cursor: pointer;
}

.qdia-f__checkbox input {
    display: inline-block;
    width: auto;
}
